body {
  text-align: center;
  background: linear-gradient(#A0E7E5 15%, #29A0B1 75%);
  background-repeat: no-repeat;
}
img {
  border-radius: 50%;
  width: 200px;
}
#bio{
  padding: 25px;
  font-size: 18px;
  text-align: center;
}
.links{
    float:left;
    color:#FB4570;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family:'Cinzel Decorative';
    font-size: 20px;
}

.links:hover{
    background-color:#0C1446;
    
}



ul li{
    display: inline; 
}

html{
    scroll-behavior: smooth;
}
h1{
    font-style:18px;
}
p{
    font-style:18px;
    color:#059DC0;
}
h2{
    font-style:18px;
    color:fuchsia;
}
.menu{
    list-style:none;
    font-family:cursive;
    float: right;
    top:10px;
    right:30;
    cursor:pointer;
    color:#98D7C2;
}
.menu a{
    color:#29A0B1;
}